
<%= "it's so worth it to create an account, youre gonna be able to snoop so much.."%>
<br>
<%= form_for(@user) do |f| %>
<label>Name</label>
<%= f.text_field :name %>
<label>Email</label>
<%= f.text_field :email %>
<%= f.submit "Create Account" %>
<% end %>
