<ul>
<h4>Profile Page</h4>
<%=@user.name%>
<h4><%=link_to"Join Another Group",new_group_path%></h4>
<% @user.groups.each do |group|%>
<%=group.name%>
<%end%>

<h4><%=link_to"Give a Compliment",new_prefill_path%></h4>
<ul>
   <% @user.prefills.each do |prefill| %>
   <%=prefill.selection%> 
   <br>
   <%end%>
</ul>

<h4><%=link_to"Give Some Karma",new_karma_path%></h4>
<% @user.karmas.each do |karma|%> 
<ul>
<li>
   <%= karma.comment %>
</li>
</ul>
<%end%> 
