<ul>
<h5><%=current_user.name%> is logged in <%=link_to "profile", user_path(current_user) %></h5>
<h5> current title: <%=current_user.title%>  <%= link_to "logout", logout_path %></h5>
<br>
<br>
<br>
  <h2> ________<%=@user.name%>________</h2>

<h4><%=link_to"Join Another Group", new_group_user_path%></h4>
<% @user.groups.each do |group|%>
   <ul>
   <li>
   <%=group.name%> 
   </li>
   </ul>
   <br>
<%end%>

<h4><%=link_to"Give a Compliment",new_prefill_path%></h4>
   
   <% @user.prefills.each do |prefill| %>
   <ul>
   <li>
   <%=prefill.selection%> 
   </li>
   </ul>
   <br>
   <%end%>


<h4><%=link_to"Give Some Karma",new_karma_path%></h4>
<% @user.karmas.each do |karma|%> 
<ul>
<li>
   <%= karma.comment %>  
</li>
</ul>
<%end%> 

<%= flash[:delete] %>
