<ul>
<h5><%=current_user.name%> is logged in <%=link_to "profile", user_path(current_user) %></h5>
<h5>the who's who  <%=link_to "org chart",users_path %></h5>
<h5> current title: <%=current_user.title%>  <%= link_to "logout", logout_path %></h5>
<br>
<br>
<br>
  <h2> ________<%=@user.name%>________</h2>


<h4><%=link_to"Join Another Group", new_group_user_path%></h4> 
<%# <h5><%=link_to"Mutual Interest", group_users_path%></h5>  
<% @user.groups.each do |group|%>
   <ul>
   <li>
   <%=group.name%>    
   <%# <%=link_to "leave",group_user_path(group.id)  %>
   </li>
   </ul>
   <br>
<%end%>

<h4><%=link_to"Give a Compliment",new_prefill_path%></h4>
   
   <% @user.prefills.each do |prefill| %>
   <ul>
   <li>
   <%=prefill.selection%> 
   </li>
   </ul>
   <br>
   <%end%>

<%= form_for(@prefill) do |f| %>

  <label>Pick the Who and the What</label><br>
  <br>
  <%=f.collection_select :selection, Prefill.all, :selection,:selection%><br> 
  <%=f.collection_select :user_id, User.all, :id,:name %>
  <%= f.submit %>
<!-- as I was writing my code outloud, I identified which problem I had. Important note on Collection Select
colleciton_select property of model youre saving, what you are iterating over,  what you are sending back to the controller, how do you want to display it
  -->
<% end %>




<h4><%=link_to"Give Some Karma",new_karma_path%></h4>
<% @user.karmas.each do |karma|%> 
<ul>
<li>
   <%= karma.comment %> 
   <%= link_to "more", karma_path(karma)%>
   <%= link_to "sender", user_path(karma.current_user_id) %>
   
</li>
</ul> 
<%end%> 

 
<%= form_for(@karma) do |f| %>
  <label>Share Something Positive!</label><br>
  <br>
  <%= f.text_area :comment %><br>
  <%=f.collection_select :user_id, User.all, :id,:name %>
  <!--maybe here is where you want the person to
  leave their name so that when they give karma, you can see who its form  -->
  <%= f.submit %>
<% end %>

<br>
<br>
<%=flash[:delete]%>
